body {
  margin: 0;
  font-family: sans-serif, "open sans";
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
z-index: 0;
}

a,
p,
h1,
h2,
h3,
h4,
span,
label {
  text-decoration: none;
  color: rgb(255, 255, 255);
}


.Typewriter__wrapper, .Typewriter__cursor{
  color: white;
}